{% extends 'base.html.twig' %}

{% block title %}Slot index{% endblock %}

{% block body %}
    <h1>Slot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Capacity</th>
                <th>Remaining</th>
                <th>Service</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slot in slots %}
            <tr>
                <td>{{ slot.id }}</td>
                <td>{{ slot.time ? slot.time|date('H:i:s') : '' }}</td>
                <td>{{ slot.capacity }}</td>
                <td>{{ slot.getRemainingPlaces }}</td>
                <td>{{ slot.service.id }}</td>
                <td>
                    <a href="{{ path('slot_show', {'id': slot.id}) }}">show</a>
                    <a href="{{ path('slot_edit', {'id': slot.id}) }}">edit</a>
                    <a href="{{ path('slot_book', {'id': slot.id}) }}">book</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slot_new') }}">Create new</a>
{% endblock %}
